<%= form_with(model: manga, local: true) do |form| %>
  <% if manga.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(manga.errors.count, "error") %> prohibited this manga from being saved:</h2>

      <ul>
        <% manga.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :volumes %>
    <%= form.text_field :volumes %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div class="field">
    <%= form.label :image %>
    <%= form.hidden_field :image, value: manga.cached_image_data %>
    <%= form.file_field :image, id: "image-field" %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
