<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @manga.title %>
</p>

<p>
  <strong>Volumes:</strong>
  <%= @manga.volumes %>
</p>

<p>
  <strong>Description:</strong>
  <%= @manga.description %>
</p>

<p>
  <strong>Image:</strong>
  <% if @manga.image_url %>
    <%= image_tag @manga.image_url, size: "128x128" %>
  <% else %>
    <p>No image provided</p>
  <% end %>
</p>

<p>
  <strong>User:</strong>
  <%= @manga.user.email %>
</p>

<%= link_to 'Edit', edit_manga_path(@manga) %> |
<%= link_to 'Back', mangas_path %>
