<h1>Welcome to Takasu!</h1>
<h4>Currently signed-in user: <%= current_user.email %></h4>
<%= link_to "Go to your library", user_path(current_user) %>
<br>
<%= link_to "Search in other users' libraries", search_path %>
<br>
<%= link_to "Your trade requests", trades_path %>
<span>(<%= @total_number_of_trades %>)</span>
<hr>
<%= button_to "Sign out", destroy_user_session_path, method: :delete %>