<p id="notice"><%= notice %></p>

<p>
  <strong>Sender:</strong>
  <%= @trade.sender_id %>
</p>

<p>
  <strong>Recipient:</strong>
  <%= @trade.recipient_id %>
</p>

<p>
  <strong>Confirmed:</strong>
  <%= @trade.confirmed %>
</p>

<%= link_to 'Edit', edit_trade_path(@trade) %> |
<%= link_to 'Back', trades_path %>
